{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

	<title>Portfolio</title>
	<meta content="" name="description"/>
	<meta content="" name="keywords"/>

	<!-- Google Fonts -->
	<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
	/>

	<!-- Vendor CSS Files -->
	<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet"/>
	<link
			href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
			rel="stylesheet"
	/>
	<link
			href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
			rel="stylesheet"
	/>
	<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"/>
	<link
			href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
			rel="stylesheet"
	/>
	<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet"/>

	<!-- Template Main CSS File -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet"/>

	<!-- Icons -->
	<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>

	<!-- =======================================================
* Template Name: MyResume - v4.9.2
* Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
</head>

<body>
<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">
	<nav id="navbar" class="navbar nav-menu">
		<ul>
			<li>
				<a href="#hero" class="nav-link scrollto active"
				><i class="bx bx-home"></i> <span>Home</span></a
				>
			</li>
			<li>
				<a href="#about" class="nav-link scrollto"
				><i class="bx bx-user"></i> <span>About</span></a
				>
			</li>
			<li>
				<a href="#resume" class="nav-link scrollto"
				><i class="bx bx-file-blank"></i> <span>Resume</span></a
				>
			</li>
			<li>
				<a href="#projects" class="nav-link scrollto"
				><i class="bx bx-book-content"></i> <span>Projects</span></a
				>
			</li>
			<li>
				<a href="#contact" class="nav-link scrollto"
				><i class="bx bx-envelope"></i> <span>Contact</span></a
				>
			</li>
		</ul>
	</nav>
	<!-- .nav-menu -->
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
	<div class="container" data-aos="zoom-in" data-aos-delay="100">
		<h1>Kushagra Gupta</h1>
		<p>
			I'm a
			<span
					class="typed"
					data-typed-items="Developer, Freelancer, Cricketer, Gamer"
			></span>
		</p>
		<div class="social-links">
			<a
					href="https://twitter.com/phoenix0347"
					target="_blank"
					referrerpolicy="no-referrer"
					class="twitter"
			><i class="bx bxl-twitter"></i
			></a>
			<a
					href="https://www.instagram.com/kushagra0347/"
					target="_blank"
					referrerpolicy="no-referrer"
					class="instagram"
			><i class="bx bxl-instagram"></i
			></a>
			<a
					href="https://www.linkedin.com/in/kushagra-gupta-7199a91b6/"
					target="_blank"
					referrerpolicy="no-referrer"
					class="linkedin"
			><i class="bx bxl-linkedin"></i
			></a>
			<a
					href="https://www.codechef.com/users/phoenix0347"
					target="_blank"
					referrerpolicy="no-referrer"
			><span
					class="iconify"
					style="
                height: 1rem;
                font-weight: 400;
                font-style: normal;
                font-variant: normal;
                line-height: 1;
                text-rendering: auto;
                display: inline-block;
                text-transform: none;
                margin-bottom: 0.3rem;
                speak: none;
                -webkit-font-smoothing: antialiased;
              "
					data-icon="simple-icons:codechef"
			></span
			></a>
			<a
					href="https://leetcode.com/guyses/"
					target="_blank"
					referrerpolicy="no-referrer"
			><span
					class="iconify"
					style="
                height: 1rem;
                font-weight: 400;
                font-style: normal;
                font-variant: normal;
                line-height: 1;
                text-rendering: auto;
                display: inline-block;
                text-transform: none;
                margin-bottom: 0.3rem;
                speak: none;
                -webkit-font-smoothing: antialiased;
              "
					data-icon="simple-icons:leetcode"
			></span
			></a>
		</div>
	</div>
</section>
<!-- End Hero -->

<main id="main">
	<!-- ======= About Section ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>About</h2>
				<p>
					I'm a pre-final year student at Chitkara University. I'm pursuing
					B.E. in Computer Science Engineering. I'm an avid learner,
					explorer, coder, freelancer, cricketer and a gamer. I love to
					engage with people, interact and learn from them.
				</p>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<img
							src="{% static 'img/WhatsApp Image 2022-10-17 at 10.27.30 AM.jpeg' %}"
{#							src="{% static 'img/IMG-20211209-WA0021.jpg' %}"#}
							class="img-fluid"
							style="height: 400px !important; width: 290px !important"
							alt=""
					/>
				</div>
				<div class="col-lg-8 pt-4 pt-lg-0 content">
					<h3>Freelancer &amp; Web Developer.</h3>
					<p class="fst-italic">
						Although I'm a student. I have a decent amount of experience in
						making industry level projects. <br/>
						&quot;Don't Judge a Book by its Cover&quot;!
					</p>
					<div class="row">
						<div class="col-lg-6">
							<ul>
								<li>
									<i class="bi bi-chevron-right"></i>
									<strong>Birthday:</strong> <span>May 5, 2003</span>
								</li>
								<!-- <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Website:</strong> <span>www.example.com</span>
                </li> -->
								<li>
									<i class="bi bi-chevron-right"></i>
									<strong>Phone:</strong> <span>+91 7888467128</span>
								</li>
								<li>
									<i class="bi bi-chevron-right"></i>
									<strong>City:</strong> <span>Chandigarh</span>
								</li>
								<li>
									<i class="bi bi-chevron-right"></i> <strong>Age:</strong>
									<span>19</span>
								</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul>
								<li>
									<i class="bi bi-chevron-right"></i>
									<strong>Degree:</strong>
									<span>BE in CSE</span>
								</li>
								<li>
									<i class="bi bi-chevron-right"></i>
									<strong>Email:</strong>
									<span>guptakush0347@gmail.com</span>
								</li>
								<li>
									<i class="bi bi-chevron-right"></i>
									<strong>Freelance:</strong> <span>Available</span>
								</li>
							</ul>
						</div>
					</div>
					<p>
						I'm prolific at C++, Python and familiar with Java language. I
						am prolific in Django, Django REST Framework, Tailwind CSS,
						jQuery and familiar with react, react-redux, react-router
						frameworks. I'm passionate about personal finance, technology,
						video games and cricket
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->

	<!-- ======= Facts Section ======= -->
	{#      <section id="facts" class="facts">#}
	{#        <div class="container" data-aos="fade-up">#}
	{#          <div class="section-title">#}
	{#            <h2>Facts</h2>#}
	{#            <p>#}
	{#              Below are the numbers. All the clients are happy with the projects#}
	{#              that I have made for them. Some clients are permanent even!#}
	{#              <br />#}
	{#              Next could be you!#}
	{#            </p>#}
	{#          </div>#}
	{##}
	{#          <div class="row">#}
	{#            <div class="col-lg-3 col-md-6">#}
	{#              <div class="count-box">#}
	{#                <i class="bi bi-emoji-smile"></i>#}
	{#                <span#}
	{#                  data-purecounter-start="0"#}
	{#                  data-purecounter-end="10"#}
	{#                  data-purecounter-duration="1"#}
	{#                  class="purecounter"#}
	{#                ></span>#}
	{#                <p>Happy Clients</p>#}
	{#              </div>#}
	{#            </div>#}
	{##}
	{#            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">#}
	{#              <div class="count-box">#}
	{#                <i class="bi bi-journal-richtext"></i>#}
	{#                <span#}
	{#                  data-purecounter-start="0"#}
	{#                  data-purecounter-end="15"#}
	{#                  data-purecounter-duration="1"#}
	{#                  class="purecounter"#}
	{#                ></span>#}
	{#                <p>Projects</p>#}
	{#              </div>#}
	{#            </div>#}
	{##}
	{#            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
	{#              <div class="count-box">#}
	{#                <i class="bi bi-headset"></i>#}
	{#                <span#}
	{#                  data-purecounter-start="0"#}
	{#                  data-purecounter-end="51"#}
	{#                  data-purecounter-duration="1"#}
	{#                  class="purecounter"#}
	{#                ></span>#}
	{#                <p>Hours Of Support</p>#}
	{#              </div>#}
	{#            </div>#}
	{##}
	{#            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
	{#              <div class="count-box">#}
	{#                <i class="bi bi-award"></i>#}
	{#                <span#}
	{#                  data-purecounter-start="0"#}
	{#                  data-purecounter-end="4"#}
	{#                  data-purecounter-duration="1"#}
	{#                  class="purecounter"#}
	{#                ></span>#}
	{#                <p>Awards</p>#}
	{#              </div>#}
	{#            </div>#}
	{#          </div>#}
	{#        </div>#}
	{#      </section>#}
	<!-- End Facts Section -->

	<!-- ======= Skills Section ======= -->
	<section id="skills" class="skills section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Skills</h2>
				<p>
					These are the skills that I am proficient/acquainted with. I am
					always eager to learn new skills, so this is just going to
					increase overtime
				</p>
			</div>

			<div class="row skills-content">
				<div class="col-lg-6">
					<div class="progress">
						<span class="skill">HTML/HTML 5 <i class="val">100%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="100"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">CSS <i class="val">75%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="75"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Bootstrap <i class="val">88%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="88"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Tailwind CSS <i class="val">90%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="90"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">JavaScript <i class="val">90%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="90"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">jQuery <i class="val">85%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="90"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">ReactJS <i class="val">94%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="94"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">NextJS <i class="val">65%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="65"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="progress">
						<span class="skill">Django <i class="val">87%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="87"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
                <span class="skill"
                >Django REST Framework <i class="val">74%</i></span
                >
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="74"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Database <i class="val">80%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="80"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">PostgreSQL <i class="val">65%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="65"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">MongoDB <i class="val">75%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="75"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Python <i class="val">70%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="70"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">C++ <i class="val">60%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="60"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">NodeJS <i class="val">40%</i></span>
						<div class="progress-bar-wrap">
							<div
									class="progress-bar"
									role="progressbar"
									aria-valuenow="40"
									aria-valuemin="0"
									aria-valuemax="100"
							></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Skills Section -->

	<!-- ======= Resume Section ======= -->
	<section id="resume" class="resume">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Resume</h2>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<h3 class="resume-title">Sumary</h3>
					<div class="resume-item pb-0">
						<h4>Kushagra Gupta</h4>
						<p>
							<em
							>Innovative and deadline-driven Web Developer with 1 year of
							 experience designing and developing dynamic websites from
							 initial concept to final, polished deliverable. I Love to
							 solve Problems</em
							>
						</p>
						<ul>
							<li>Zirakpur, Punjab</li>
							<li>+91 7888467128</li>
							<li>guptakush0347@gmail.com</li>
						</ul>
					</div>

					<h3 class="resume-title">Education</h3>
					<div class="resume-item">
						<h4>BE in CSE</h4>
						<h5>2020 - Present</h5>
						<p><em>Chitkara University, Rajpura</em></p>
					</div>
					<div class="resume-item">
						<h4>Class XII</h4>
						<h5>2019 - 2020</h5>
						<p><em>Doon Public School, Panchkula</em></p>
					</div>

					<h3 class="resume-title">Projects</h3>
					<div class="resume-item">
						<h4>Ehno</h4>
						<h5>Aug 2022 - Present</h5>
						<ul>
							<li>It is the trivago for groceries.</li>
							<li>
								It enables the user to search for groceries with the lowest
								price from all the online grocery stores(Flipkart, Amazon,
								BigBasket, Dmart, etc) in one place.
							</li>
							<li>
								Django is used for the backend and tailwind CSS, HTML,
								jQuery as the frontend stack for building this project.
							</li>
						</ul>
					</div>
					<div class="resume-item">
						<h4>AudioBook</h4>
						<h5>May 2021 - May 2021</h5>
						<ul>
							<li>It converts PDF text to audio.</li>
							<li>
								Users can move to any specific text and start listening from
								there, they can use all the media playback.
							</li>
							<li>
								It was made using Python, Tkinter(for Ui), text to speech
							</li>
						</ul>
					</div>

					<h3 class="resume-title">Languages</h3>
					<div class="resume-item">
						<ul>
							<li>English</li>
							<li>Hindi</li>
							<li>Punjabi</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<h3 class="resume-title">Professional Experience</h3>
					<div class="resume-item">
						<h4>Web Dev Internship</h4>
						<h5>Aug 2022 - Present</h5>
						<p><em>Socia, Banglore</em></p>
						<ul>
							<li>Developed numerous programs (fyptok, reelit).</li>
							<li>
								Managed up to 5 projects or tasks at a given time while
								under pressure
							</li>
							<li>
								Recommended and consulted with clients on the most
								appropriate graphic design
							</li>
							<li>Created 2+ websites within a month for clients</li>
						</ul>
					</div>

					<div class="resume-item">
						<h4>Web Dev Head</h4>
						<h5>Aug 2022 - Present</h5>
						<p><em>Codechef CUIET </em></p>
						<ul>
							<li>
								Organised numberous events(Codathons, CP Quizes, etc).
							</li>
							<li>
								Delegate tasks to the 7 members of the design team and
								provide counsel on all aspects of the project.
							</li>
							<li>
								Supervise the assessment of all graphic materials in order
								to ensure quality and accuracy of the design
							</li>
						</ul>
					</div>

					<div class="resume-item">
						<h4>Web Team Lead</h4>
						<h5>Jul 2022 - Present</h5>
						<p><em>The Debating Society (DEBSOC) </em></p>
						<ul>
							<li>
								Lead in the design, development, and implementation of the
								website from start to finish.
							</li>
							<li>
								Delegate tasks to the 7 members of the design and frontend
								team and provide counsel on all aspects of the project.
							</li>
							<li>
								Supervise the assessment of all design and frontend
								components in order to ensure quality and accuracy of the
								design
							</li>
							<li>
								Oversee the efficient use of production project budgets
								ranging from $50 - $200
							</li>
						</ul>
					</div>

					<h3 class="resume-title">Achievements</h3>
					<div class="resume-item">
						<ul>
							<li>
								3<i class="bx bx-star" style="color: gold"></i> Coder at
								Codechef.
							</li>
							<li>
								Solved more than 500 problems from different platforms (over
								320 Problems in Codechef, over 130 problems in Leetcode,
								over 60 problems from HackerRank and HackerEarth)
							</li>
							<li>Global Rank 6, 81, 109, 807 in Codechef Contests.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Resume Section -->

	<!-- ======= Portfolio Section ======= -->
	<section id="projects" class="portfolio section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Projects</h2>
				<p>These are some of my Projects' Links</p>
			</div>

			<div
					class="row portfolio-container"
					data-aos="fade-up"
					data-aos-delay="200"
			>
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-wrap">
						<img
								src="{% static 'img/portfolio/portfolio-1/image.jpeg' %}"
								class="img-fluid"
								alt=""
						/>
						<div class="portfolio-info">
							<h4>E-kart</h4>
							<p>Web</p>
							<div class="portfolio-links">
								<a
										href="{% static 'img/portfolio/portfolio-1/image.jpeg' %}"
										data-gallery="portfolioGallery"
										class="portfolio-lightbox"
										title="E-Kart"
								><i class="bx bx-plus"></i
								></a>
								<a
										href="https://kushagra0347.github.io"
										target="_blank"
										referrerpolicy="no-referrer"
{#										href="portfolio-details/e-kart.html"#}
{#										class="portfolio-details-lightbox"#}
{#										data-glightbox="type: external"#}
{#										title="Portfolio Details"#}
								><i class="bx bx-link"></i
								></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
					<div class="portfolio-wrap">
						<img
								src="{% static 'img/portfolio/portfolio-2/image.jpg' %}"
								class="img-fluid"
								alt=""
						/>
						<div class="portfolio-info">
							<h4>Debsoc Website</h4>
							<p>Web</p>
							<div class="portfolio-links">
								<a
										href="{% static 'img/portfolio/portfolio-2/image.jpg' %}"
										data-gallery="portfolioGallery"
										class="portfolio-lightbox"
										title="Debsoc Website"
								><i class="bx bx-plus"></i
								></a>
								<a
										href="https://debsoc-cuiet.herokuapp.com"
										target="_blank"
										referrerpolicy="no-referrer"
{#										href="portfolio-details/debsoc-website.html"#}
{#										class="portfolio-details-lightbox"#}
{#										data-glightbox="type: external"#}
{#										title="Portfolio Details"#}
								><i class="bx bx-link"></i
								></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-wrap">
						<img
								src="{% static 'img/portfolio/portfolio-3/image.jpg' %}"
								class="img-fluid"
								alt=""
						/>
						<div class="portfolio-info">
							<h4>Ehno</h4>
							<p>Web</p>
							<div class="portfolio-links">
								<a
										href="{% static 'img/portfolio/portfolio-3/image.jpg' %}"
										data-gallery="portfolioGallery"
										class="portfolio-lightbox"
										title="Ehno"
								><i class="bx bx-plus"></i
								></a>
								<a
										data-toggle="tooltip" data-placement="top" title="Can't Show the Source Code"
										style="cursor: not-allowed"
{#										href="./portfolio-details/e-kart.html"#}
{#										class="portfolio-details-lightbox"#}
{#										data-glightbox="type: external"#}
{#										title="Portfolio Details"#}
								><i class="bx bx-link"></i
								></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 portfolio-item filter-card">
					<div class="portfolio-wrap">
						<img
								src="{% static 'img/portfolio/portfolio-4/image.jpg' %}"
								class="img-fluid"
								alt=""
						/>
						<div class="portfolio-info">
							<h4>Samsung Clone</h4>
							<p>Web</p>
							<div class="portfolio-links">
								<a
										href="{% static 'img/portfolio/portfolio-4/image.jpg' %}"
										data-gallery="portfolioGallery"
										class="portfolio-lightbox"
										title="Samsung Clone"
								><i class="bx bx-plus"></i
								></a>
								<a
										data-toggle="tooltip" data-placement="top" title="Can't Show the Source Code"
										style="cursor: not-allowed"
{#										href="portfolio-details/e-kart.html"#}
{#										class="portfolio-details-lightbox"#}
{#										data-glightbox="type: external"#}
{#										title="Portfolio Details"#}
								><i class="bx bx-link"></i
								></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
					<div class="portfolio-wrap">
						<img
								src="{% static 'img/portfolio/portfolio-5/image.jpg' %}"
								class="img-fluid"
								alt=""
						/>
						<div class="portfolio-info">
							<h4>Todo List</h4>
							<p>Web</p>
							<div class="portfolio-links">
								<a
										href="{% static 'img/portfolio/portfolio-5/image.jpg' %}"
										data-gallery="portfolioGallery"
										class="portfolio-lightbox"
										title="Todo List"
								><i class="bx bx-plus"></i
								></a>
								<a
										href="https://taskdo.netlify.app"
										target="_blank"
										referrerpolicy="no-referrer"
{#										href="portfolio-details/e-kart.html"#}
{#										class="portfolio-details-lightbox"#}
{#										data-glightbox="type: external"#}
{#										title="Portfolio Details"#}
								><i class="bx bx-link"></i
								></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio Section -->

	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Contact</h2>
			</div>

			<div class="row mt-1">
				<div class="col-lg-4">
					<div class="info">
						<div class="address">
							<i class="bi bi-geo-alt"></i>
							<h4>Location:</h4>
							<p>Chandigarh</p>
						</div>

						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p>guptakush0347@gmail.com</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"></i>
							<h4>Call:</h4>
							<p>+91 7888467128</p>
						</div>
					</div>
				</div>

				<div class="col-lg-8 mt-5 mt-lg-0">
					<form
							action=""
							method="post"
							role="form"
							class="php-email-form"
					>
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6 form-group">
								<input
										type="text"
										name="name"
										class="form-control"
										id="name"
										placeholder="Your Name"
										required
								/>
							</div>
							<div class="col-md-6 form-group mt-3 mt-md-0">
								<input
										type="email"
										class="form-control"
										name="email"
										id="email"
										placeholder="Your Email"
										required
								/>
							</div>
						</div>
						<div class="form-group mt-3">
							<input
									type="text"
									class="form-control"
									name="subject"
									id="subject"
									placeholder="Subject"
									required
							/>
						</div>
						<div class="form-group mt-3">
                  <textarea
		                  class="form-control"
		                  name="message"
		                  rows="5"
		                  placeholder="Message"
		                  required
                  ></textarea>
						</div>
						<div class="my-3">
							<div class="loading">Loading</div>
							{% for message in messages %}
								{% if message and message.tags == 'info' %}
									<div class="error-message" style="display: block;">{{ message }}</div>
								{% endif %}
							{% endfor %}
							{% for message in messages %}
								{% if message and message.tags == 'success' %}
									<div class="sent-message" style="display: block;">{{ message }}</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="text-center">
							<button type="submit">Send Message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="container">
		<h3>Kushagra Gupta</h3>
		<div class="social-links">
			<a
					href="https://twitter.com/phoenix0347"
					target="_blank"
					referrerpolicy="no-referrer"
					class="twitter"
			><i class="bx bxl-twitter"></i
			></a>
			<a
					href="https://www.instagram.com/kushagra0347/"
					target="_blank"
					referrerpolicy="no-referrer"
					class="instagram"
			><i class="bx bxl-instagram"></i
			></a>
			<a
					href="https://www.linkedin.com/in/kushagra-gupta-7199a91b6/"
					target="_blank"
					referrerpolicy="no-referrer"
					class="linkedin"
			><i class="bx bxl-linkedin"></i
			></a>
			<a
					href="https://www.codechef.com/users/phoenix0347"
					target="_blank"
					referrerpolicy="no-referrer"
			><span
					class="iconify"
					style="
                height: 1rem;
                font-weight: 400;
                font-style: normal;
                font-variant: normal;
                line-height: 1;
                text-rendering: auto;
                display: inline-block;
                text-transform: none;
                margin-bottom: 0.3rem;
                speak: none;
                -webkit-font-smoothing: antialiased;
              "
					data-icon="simple-icons:codechef"
			></span
			></a>
			<a
					href="https://leetcode.com/guyses/"
					target="_blank"
					referrerpolicy="no-referrer"
			><span
					class="iconify"
					style="
                height: 1rem;
                font-weight: 400;
                font-style: normal;
                font-variant: normal;
                line-height: 1;
                text-rendering: auto;
                display: inline-block;
                text-transform: none;
                margin-bottom: 0.3rem;
                speak: none;
                -webkit-font-smoothing: antialiased;
              "
					data-icon="simple-icons:leetcode"
			></span
			></a>
		</div>
		<div class="copyright">
			&copy; Copyright <strong><span>Kushgara Gupta</span></strong
		>. All Rights Reserved
		</div>
	</div>
</footer>
<!-- End Footer -->

<div id="preloader"></div>
<a
		href="#"
		class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
